/*! From github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select,
textarea {
  font-family: inherit;
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}
td:not([align]),
th:not([align]) {
  text-align: left;
}

/**
 * Color palette.
 *
 * The palette file maps variables to hex values with two stops
 * each (tint and shade) that provide all the variations necessary
 * for the colors file.
 */
/** Typography */
/** Spacing */
/** Colors */
/** Typography */
/** Spacing */
/** Borders */
/** Buttons */
/** Controls */
/** Transitions */
/**
 * Color palette.
 *
 * The palette file maps variables to hex values with two stops
 * each (tint and shade) that provide all the variations necessary
 * for the colors file.
 */
/** Typography */
/** Spacing */
/** Colors */
/** Typography */
/** Spacing */
/** Borders */
/** Buttons */
/** Controls */
/** Transitions */
.radio input + *::before, .checkbox input + *::before, .radio input + *::after, .checkbox input + *::after {
  content: "";
  height: 1.3em;
  left: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.2s ease;
  width: 1.3em;
}

.radio, .checkbox {
  line-height: 1.8;
  display: block;
  position: relative;
  cursor: pointer;
  padding-left: 2.05em;
}
.radio > input, .checkbox > input {
  position: absolute;
  opacity: 0;
}
.radio input + *, .checkbox input + * {
  color: #2b2c34;
}
.radio input + *::after, .checkbox input + *::after {
  transform: translateY(-50%) scale(0);
}
.radio input + *::before, .checkbox input + *::before {
  border: 1px solid transparent;
  background-color: #e9e9f5;
}
.radio input:checked + *::after, .checkbox input:checked + *::after {
  transform: translateY(-50%) scale(1);
}
.radio input:checked + *::before, .checkbox input:checked + *::before {
  background-color: #fff;
  border: 1px solid #7c64f0;
  box-shadow: none;
}
.radio input:focus + *::before, .checkbox input:focus + *::before {
  box-shadow: 0 0 1px 1px #d1d1e9;
}

/**
 * Color palette.
 *
 * The palette file maps variables to hex values with two stops
 * each (tint and shade) that provide all the variations necessary
 * for the colors file.
 */
/** Typography */
/** Spacing */
/** Colors */
/** Typography */
/** Spacing */
/** Borders */
/** Buttons */
/** Controls */
/** Transitions */
.button {
  display: inline-block;
  white-space: nowrap;
  cursor: pointer;
  outline: none;
  border: none;
  height: 2.5em;
  font-size: 1em;
  letter-spacing: 0.03em;
  line-height: 2.5em;
  padding: 0 0.75em;
  border-radius: 0.25em;
  transform: translateY(0);
  transition: all 0.2s ease;
  box-shadow: 0 0.5em 0.75em rgba(209, 209, 233, 0.05), 0 0.3em 0.5em rgba(0, 0, 0, 0.03);
  color: #151517;
  background-color: #fff;
  font-weight: 400;
  text-shadow: 0 1px 0.5em rgba(43, 44, 52, 0.3);
}
.button:active {
  transform: translateY(1px);
}
.button:hover {
  box-shadow: 0 0.75em 1em rgba(209, 209, 233, 0.08), 0 0.3em 0.5em rgba(0, 0, 0, 0.05);
}
.button:hover {
  color: #393b4a;
}
.button:active {
  color: #151517;
}
.button.primary {
  color: #fff;
  font-weight: 500;
  text-shadow: 0 1px 0.3em rgba(98, 70, 234, 0.4);
  background: linear-gradient(60deg, #4020dd 0%, #6246ea 50%, #7c64f0 100%);
  background-size: 200% 2.5em;
  background-position: 0 0;
  box-shadow: 0 0.5em 0.75em rgba(98, 70, 234, 0.05), 0 0.3em 0.5em rgba(0, 0, 0, 0.03);
}
.button.primary:hover {
  background-position: 100% -100%;
}
.button.primary:hover {
  box-shadow: 0 0.75em 1em rgba(98, 70, 234, 0.08), 0 0.3em 0.5em rgba(0, 0, 0, 0.05);
}
.button.primary:active {
  color: #e9e9f5;
  background-position: 0 0;
}

/**
 * Color palette.
 *
 * The palette file maps variables to hex values with two stops
 * each (tint and shade) that provide all the variations necessary
 * for the colors file.
 */
/** Typography */
/** Spacing */
/** Colors */
/** Typography */
/** Spacing */
/** Borders */
/** Buttons */
/** Controls */
/** Transitions */
.tooltip, .card {
  position: relative;
  padding: 2.5em;
  border-radius: 0.25em;
  background-color: #fff;
  box-shadow: 0 0.3em 1em 0.75em rgba(0, 0, 0, 0.018);
  border: 1px solid #e9e9f5;
}

.checkbox input + *::after {
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSI2NHB4IiBoZWlnaHQ9IjY0cHgiIHZpZXdCb3g9IjAgMCA2NCA2NCIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgNjQgNjQiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxnPjxwb2x5Z29uIHBvaW50cz0iMTMuNzA3LDMyLjI5MyAxMi4yOTMsMzMuODU0IDI0LjI5Myw0NiAyNS43MDcsNDYgNDkuNzA3LDIxLjg1NCA0OC4yOTMsMjAuMzY2IDI1LDQzLjYyMyAiLz48L2c+PC9zdmc+) no-repeat center/contain;
}
.checkbox input + *::before {
  border-radius: 0.25em;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
}
.icon svg {
  font-size: 1.2em;
  transition: all 0.2s ease;
  stroke-width: 1.2;
}

/**
 * Color palette.
 *
 * The palette file maps variables to hex values with two stops
 * each (tint and shade) that provide all the variations necessary
 * for the colors file.
 */
/** Typography */
/** Spacing */
/** Colors */
/** Typography */
/** Spacing */
/** Borders */
/** Buttons */
/** Controls */
/** Transitions */
.field {
  display: flex;
  flex-direction: column;
  font-size: 1em;
}
.field .label {
  font-size: 0.8em;
  color: #393b4a;
  padding-left: 0.3em;
  padding-bottom: 0.3em;
  transition: all 0.2s ease;
}
.field.horizontal {
  align-items: baseline;
  flex-direction: row;
}
.field.horizontal .label {
  font-size: 1em;
  flex: 1 1 32%;
  padding: 0 0.75em 0 0;
  color: #393b4a;
}
.field.horizontal input {
  flex: 1 1 68%;
}
.field:focus-within .label {
  color: #7c64f0;
}

.input {
  height: 2.5em;
  line-height: 2.5em;
  font-size: 1em;
  outline: none;
  transition: all 0.2s ease;
  padding: 0 0.75em;
  border-radius: 0.25em;
  color: #2b2c34;
  border: 1px solid #e9e9f5;
}
.input::-moz-placeholder {
  color: #b1b1d6;
}
.input:-ms-input-placeholder {
  color: #b1b1d6;
}
.input::placeholder {
  color: #b1b1d6;
}
.input:focus {
  border: 1px solid #7c64f0;
  background-color: #fff;
}

.radio input + *::after {
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/Pgo8c3ZnIHdpZHRoPSIyMDAiIGhlaWdodD0iMjAwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CiAgPGNpcmNsZSBjeD0iMTAwIiBjeT0iMTAwIiByPSIyOCIgZmlsbD0iYmxhY2siIC8+Cjwvc3ZnPgo=) no-repeat center/contain;
}
.radio input + *::before {
  border-radius: 50%;
}

.has-tooltip-left .tooltip::after, .has-tooltip-right .tooltip::after, .has-tooltip-top .tooltip::after, .tooltip::after, .has-tooltip-bottom .tooltip::after, .has-tooltip-left .tooltip::before, .has-tooltip-right .tooltip::before, .has-tooltip-top .tooltip::before, .tooltip::before, .has-tooltip-bottom .tooltip::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
}
.has-tooltip-left .tooltip::after, .has-tooltip-right .tooltip::after, .has-tooltip-top .tooltip::after, .tooltip::after, .has-tooltip-bottom .tooltip::after {
  border: 8px solid transparent;
}
.has-tooltip-left .tooltip::before, .has-tooltip-right .tooltip::before, .has-tooltip-top .tooltip::before, .tooltip::before, .has-tooltip-bottom .tooltip::before {
  border: 9px solid transparent;
}

.has-tooltip-bottom .tooltip::after {
  left: 50%;
  top: 0;
  transform: translate(-50%, -100%);
  border-bottom: 8px solid #fff;
}
.has-tooltip-bottom .tooltip::before {
  top: 0;
  left: 50%;
  transform: translate(-50%, -100%);
  border-bottom: 9px solid #e9e9f5;
}

.has-tooltip-top .tooltip::after, .tooltip::after {
  top: 100%;
  left: 50%;
  transform: translate(-50%);
  border-top: 8px solid #fff;
}
.has-tooltip-top .tooltip::before, .tooltip::before {
  top: 100%;
  left: 50%;
  transform: translate(-50%);
  border-top: 9px solid #e9e9f5;
}

.has-tooltip-right .tooltip::after {
  top: 50%;
  left: 0;
  transform: translate(-100%, -50%);
  border-right: 8px solid #fff;
}
.has-tooltip-right .tooltip::before {
  top: 50%;
  left: 0;
  transform: translate(-100%, -50%);
  border-right: 9px solid #e9e9f5;
}

.has-tooltip-left .tooltip::after {
  top: 50%;
  left: 100%;
  transform: translate(0, -50%);
  border-left: 8px solid #fff;
}
.has-tooltip-left .tooltip::before {
  top: 50%;
  left: 100%;
  transform: translate(0, -50%);
  border-left: 9px solid #e9e9f5;
}

.has-tooltip-left .tooltip, .has-tooltip-right .tooltip, .has-tooltip-bottom .tooltip, .has-tooltip-top .tooltip {
  opacity: 0;
  pointer-events: none;
}
.has-tooltip-left:hover .tooltip, .has-tooltip-right:hover .tooltip, .has-tooltip-bottom:hover .tooltip, .has-tooltip-top:hover .tooltip {
  opacity: 1;
}
.has-tooltip-left:hover .tooltip.sticky, .has-tooltip-right:hover .tooltip.sticky, .has-tooltip-bottom:hover .tooltip.sticky, .has-tooltip-top:hover .tooltip.sticky {
  pointer-events: auto;
}

.tooltip {
  width: 24em;
  padding: 1em;
  position: absolute;
  z-index: 1;
}

.tooltip {
  transition: all 0.15s ease;
}

/* stylelint-disable no-descending-specificity */
.has-tooltip-top {
  position: relative;
}
.has-tooltip-top .tooltip {
  left: 50%;
  top: 0;
  transform: translate(-50%, calc(-100% - 1rem));
}
.has-tooltip-top:hover .tooltip {
  transform: translate(-50%, calc(-100% - 1rem));
}

.has-tooltip-bottom {
  position: relative;
}
.has-tooltip-bottom .tooltip {
  left: 50%;
  top: 100%;
  transform: translate(-50%, 1rem);
}
.has-tooltip-bottom:hover .tooltip {
  transform: translate(-50%, 1rem);
}

.has-tooltip-right {
  position: relative;
}
.has-tooltip-right .tooltip {
  left: 100%;
  top: 50%;
  transform: translate(1rem, -50%);
}
.has-tooltip-right:hover .tooltip {
  transform: translate(1rem, -50%);
}

.has-tooltip-left {
  position: relative;
}
.has-tooltip-left .tooltip {
  left: 0;
  top: 50%;
  transform: translate(calc(-100% - 1rem), -50%);
}
.has-tooltip-left:hover .tooltip {
  transform: translate(calc(-100% - 1rem), -50%);
}

/* stylelint-enable no-descending-specificity */
/**
 * Color palette.
 *
 * The palette file maps variables to hex values with two stops
 * each (tint and shade) that provide all the variations necessary
 * for the colors file.
 */
/** Typography */
/** Spacing */
/** Colors */
/** Typography */
/** Spacing */
/** Borders */
/** Buttons */
/** Controls */
/** Transitions */
.has-text-light {
  color: #d1d1e9;
}

.has-icon-light {
  color: #d1d1e9;
}

.has-background-light {
  background-color: #d1d1e9;
}

.has-text-dark {
  color: #2b2c34;
}

.has-icon-dark {
  color: #2b2c34;
}

.has-background-dark {
  background-color: #2b2c34;
}

.has-text-white {
  color: #fff;
}

.has-icon-white {
  color: #fff;
}

.has-background-white {
  background-color: #fff;
}

.has-text-black {
  color: #000;
}

.has-icon-black {
  color: #000;
}

.has-background-black {
  background-color: #000;
}

.has-text-primary {
  color: #6246ea;
}

.has-icon-primary {
  color: #6246ea;
}

.has-background-primary {
  background-color: #6246ea;
}

.has-text-primary-tint {
  color: #7c64f0;
}

.has-icon-primary-tint {
  color: #7c64f0;
}

.has-background-primary-tint {
  background-color: #7c64f0;
}

.has-text-primary-shade {
  color: #4020dd;
}

.has-icon-primary-shade {
  color: #4020dd;
}

.has-background-primary-shade {
  background-color: #4020dd;
}

.has-text-info {
  color: #3298dc;
}

.has-icon-info {
  color: #3298dc;
}

.has-background-info {
  background-color: #3298dc;
}

.has-text-info-tint {
  color: #4da8e4;
}

.has-icon-info-tint {
  color: #4da8e4;
}

.has-background-info-tint {
  background-color: #4da8e4;
}

.has-text-info-shade {
  color: #257cb6;
}

.has-icon-info-shade {
  color: #257cb6;
}

.has-background-info-shade {
  background-color: #257cb6;
}

.has-text-success {
  color: #00ebc7;
}

.has-icon-success {
  color: #00ebc7;
}

.has-background-success {
  background-color: #00ebc7;
}

.has-text-success-tint {
  color: #10ffda;
}

.has-icon-success-tint {
  color: #10ffda;
}

.has-background-success-tint {
  background-color: #10ffda;
}

.has-text-success-shade {
  color: #05b399;
}

.has-icon-success-shade {
  color: #05b399;
}

.has-background-success-shade {
  background-color: #05b399;
}

.has-text-warning {
  color: #ff8e3c;
}

.has-icon-warning {
  color: #ff8e3c;
}

.has-background-warning {
  background-color: #ff8e3c;
}

.has-text-warning-tint {
  color: #ffa360;
}

.has-icon-warning-tint {
  color: #ffa360;
}

.has-background-warning-tint {
  background-color: #ffa360;
}

.has-text-warning-shade {
  color: #f9710f;
}

.has-icon-warning-shade {
  color: #f9710f;
}

.has-background-warning-shade {
  background-color: #f9710f;
}

.has-text-danger {
  color: #ff5470;
}

.has-icon-danger {
  color: #ff5470;
}

.has-background-danger {
  background-color: #ff5470;
}

.has-text-danger-tint {
  color: #ff788e;
}

.has-icon-danger-tint {
  color: #ff788e;
}

.has-background-danger-tint {
  background-color: #ff788e;
}

.has-text-danger-shade {
  color: #f92749;
}

.has-icon-danger-shade {
  color: #f92749;
}

.has-background-danger-shade {
  background-color: #f92749;
}

/*# sourceMappingURL=janina.css.map */