/*! From github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select,
textarea {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}
td:not([align]),
th:not([align]) {
  text-align: left;
}

/**
 * The palette file maps variables to hex values with two stops
 * each (tint and shade) that provide all the variations necessary
 * for the colors file.
 */
/**
* The colors file contains variables that define how hues from the palette are
* used across the app or website. They should be what users of janina override
* to theme the library.
*/
/**
 * The palette file maps variables to hex values with two stops
 * each (tint and shade) that provide all the variations necessary
 * for the colors file.
 */
.has-text-dark {
  color: #151517;
}

.has-text-light {
  color: #3e4154;
}

.has-text-white {
  color: #ffffff;
}

.has-text-accent {
  color: #6246ea;
}

.has-text-link {
  color: #6246ea;
}

.has-text-success {
  color: #00ebc7;
}

.has-text-info {
  color: #6246ea;
}

.has-text-warning {
  color: #ff8e3c;
}

.has-text-danger {
  color: #ff5470;
}

.has-icon-dark {
  fill: #2b2c34;
}

.has-icon-white {
  fill: #ffffff;
}

.has-icon-accent {
  fill: #ff5470;
}

.has-icon-success {
  fill: #00ebc7;
}

.has-icon-info {
  fill: #6246ea;
}

.has-icon-warning {
  fill: #ff8e3c;
}

.has-icon-danger {
  fill: #ff5470;
}

.has-background-white {
  background-color: #ffffff;
}

.has-background-dark {
  background-color: #2b2c34;
}

.has-background-dark-tint {
  background-color: #3e4154;
}

.has-background-dark-shade {
  background-color: #151517;
}

.has-background-light {
  background-color: #d1d1e9;
}

.has-background-light-tint {
  background-color: #f3f3fa;
}

.has-background-light-shade {
  background-color: #b1b1d6;
}

.has-background-orange {
  background-color: #ff8e3c;
}

.has-background-orange-tint {
  background-color: #ffac6f;
}

.has-background-orange-shade {
  background-color: #f9710f;
}

.has-background-red {
  background-color: #ff5470;
}

.has-background-red-tint {
  background-color: #ff879b;
}

.has-background-red-shade {
  background-color: #f92749;
}

.has-background-blue {
  background-color: #6246ea;
}

.has-background-blue-tint {
  background-color: #8670f3;
}

.has-background-blue-shade {
  background-color: #4020dd;
}

.has-background-green {
  background-color: #00ebc7;
}

.has-background-green-tint {
  background-color: #1fffdd;
}

.has-background-green-shade {
  background-color: #05b399;
}

.m-t-spacer-none {
  margin-top: 0;
}
@media (min-width: 768px) {
  .m-t-spacer-none {
    margin-top: 0;
  }
}

.m-b-spacer-none {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .m-b-spacer-none {
    margin-bottom: 0;
  }
}

.m-l-spacer-none {
  margin-left: 0;
}
@media (min-width: 768px) {
  .m-l-spacer-none {
    margin-left: 0;
  }
}

.m-r-spacer-none {
  margin-right: 0;
}
@media (min-width: 768px) {
  .m-r-spacer-none {
    margin-right: 0;
  }
}

.m-x-spacer-none {
  margin-right: 0;
  margin-left: 0;
}
@media (min-width: 768px) {
  .m-x-spacer-none {
    margin-right: 0;
    margin-left: 0;
  }
}

.m-y-spacer-none {
  margin-top: 0;
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .m-y-spacer-none {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.m-t-spacer-2xs {
  margin-top: 0ex;
}
@media (min-width: 768px) {
  .m-t-spacer-2xs {
    margin-top: 0ex;
  }
}

.m-b-spacer-2xs {
  margin-bottom: 0ex;
}
@media (min-width: 768px) {
  .m-b-spacer-2xs {
    margin-bottom: 0ex;
  }
}

.m-l-spacer-2xs {
  margin-left: 0ex;
}
@media (min-width: 768px) {
  .m-l-spacer-2xs {
    margin-left: 0ex;
  }
}

.m-r-spacer-2xs {
  margin-right: 0ex;
}
@media (min-width: 768px) {
  .m-r-spacer-2xs {
    margin-right: 0ex;
  }
}

.m-x-spacer-2xs {
  margin-right: 0ex;
  margin-left: 0ex;
}
@media (min-width: 768px) {
  .m-x-spacer-2xs {
    margin-right: 0ex;
    margin-left: 0ex;
  }
}

.m-y-spacer-2xs {
  margin-top: 0ex;
  margin-bottom: 0ex;
}
@media (min-width: 768px) {
  .m-y-spacer-2xs {
    margin-top: 0ex;
    margin-bottom: 0ex;
  }
}

.m-t-spacer-xs {
  margin-top: 0.63ex;
}
@media (min-width: 768px) {
  .m-t-spacer-xs {
    margin-top: 0.9ex;
  }
}

.m-b-spacer-xs {
  margin-bottom: 0.63ex;
}
@media (min-width: 768px) {
  .m-b-spacer-xs {
    margin-bottom: 0.9ex;
  }
}

.m-l-spacer-xs {
  margin-left: 0.63ex;
}
@media (min-width: 768px) {
  .m-l-spacer-xs {
    margin-left: 0.9ex;
  }
}

.m-r-spacer-xs {
  margin-right: 0.63ex;
}
@media (min-width: 768px) {
  .m-r-spacer-xs {
    margin-right: 0.9ex;
  }
}

.m-x-spacer-xs {
  margin-right: 0.63ex;
  margin-left: 0.63ex;
}
@media (min-width: 768px) {
  .m-x-spacer-xs {
    margin-right: 0.9ex;
    margin-left: 0.9ex;
  }
}

.m-y-spacer-xs {
  margin-top: 0.63ex;
  margin-bottom: 0.63ex;
}
@media (min-width: 768px) {
  .m-y-spacer-xs {
    margin-top: 0.9ex;
    margin-bottom: 0.9ex;
  }
}

.m-t-spacer-sm {
  margin-top: 0.7ex;
}
@media (min-width: 768px) {
  .m-t-spacer-sm {
    margin-top: 1ex;
  }
}

.m-b-spacer-sm {
  margin-bottom: 0.7ex;
}
@media (min-width: 768px) {
  .m-b-spacer-sm {
    margin-bottom: 1ex;
  }
}

.m-l-spacer-sm {
  margin-left: 0.7ex;
}
@media (min-width: 768px) {
  .m-l-spacer-sm {
    margin-left: 1ex;
  }
}

.m-r-spacer-sm {
  margin-right: 0.7ex;
}
@media (min-width: 768px) {
  .m-r-spacer-sm {
    margin-right: 1ex;
  }
}

.m-x-spacer-sm {
  margin-right: 0.7ex;
  margin-left: 0.7ex;
}
@media (min-width: 768px) {
  .m-x-spacer-sm {
    margin-right: 1ex;
    margin-left: 1ex;
  }
}

.m-y-spacer-sm {
  margin-top: 0.7ex;
  margin-bottom: 0.7ex;
}
@media (min-width: 768px) {
  .m-y-spacer-sm {
    margin-top: 1ex;
    margin-bottom: 1ex;
  }
}

.m-t-spacer-md {
  margin-top: 1.4ex;
}
@media (min-width: 768px) {
  .m-t-spacer-md {
    margin-top: 2ex;
  }
}

.m-b-spacer-md {
  margin-bottom: 1.4ex;
}
@media (min-width: 768px) {
  .m-b-spacer-md {
    margin-bottom: 2ex;
  }
}

.m-l-spacer-md {
  margin-left: 1.4ex;
}
@media (min-width: 768px) {
  .m-l-spacer-md {
    margin-left: 2ex;
  }
}

.m-r-spacer-md {
  margin-right: 1.4ex;
}
@media (min-width: 768px) {
  .m-r-spacer-md {
    margin-right: 2ex;
  }
}

.m-x-spacer-md {
  margin-right: 1.4ex;
  margin-left: 1.4ex;
}
@media (min-width: 768px) {
  .m-x-spacer-md {
    margin-right: 2ex;
    margin-left: 2ex;
  }
}

.m-y-spacer-md {
  margin-top: 1.4ex;
  margin-bottom: 1.4ex;
}
@media (min-width: 768px) {
  .m-y-spacer-md {
    margin-top: 2ex;
    margin-bottom: 2ex;
  }
}

.m-t-spacer-lg {
  margin-top: 2.8ex;
}
@media (min-width: 768px) {
  .m-t-spacer-lg {
    margin-top: 4ex;
  }
}

.m-b-spacer-lg {
  margin-bottom: 2.8ex;
}
@media (min-width: 768px) {
  .m-b-spacer-lg {
    margin-bottom: 4ex;
  }
}

.m-l-spacer-lg {
  margin-left: 2.8ex;
}
@media (min-width: 768px) {
  .m-l-spacer-lg {
    margin-left: 4ex;
  }
}

.m-r-spacer-lg {
  margin-right: 2.8ex;
}
@media (min-width: 768px) {
  .m-r-spacer-lg {
    margin-right: 4ex;
  }
}

.m-x-spacer-lg {
  margin-right: 2.8ex;
  margin-left: 2.8ex;
}
@media (min-width: 768px) {
  .m-x-spacer-lg {
    margin-right: 4ex;
    margin-left: 4ex;
  }
}

.m-y-spacer-lg {
  margin-top: 2.8ex;
  margin-bottom: 2.8ex;
}
@media (min-width: 768px) {
  .m-y-spacer-lg {
    margin-top: 4ex;
    margin-bottom: 4ex;
  }
}

.m-t-spacer-xl {
  margin-top: 4.2ex;
}
@media (min-width: 768px) {
  .m-t-spacer-xl {
    margin-top: 6ex;
  }
}

.m-b-spacer-xl {
  margin-bottom: 4.2ex;
}
@media (min-width: 768px) {
  .m-b-spacer-xl {
    margin-bottom: 6ex;
  }
}

.m-l-spacer-xl {
  margin-left: 4.2ex;
}
@media (min-width: 768px) {
  .m-l-spacer-xl {
    margin-left: 6ex;
  }
}

.m-r-spacer-xl {
  margin-right: 4.2ex;
}
@media (min-width: 768px) {
  .m-r-spacer-xl {
    margin-right: 6ex;
  }
}

.m-x-spacer-xl {
  margin-right: 4.2ex;
  margin-left: 4.2ex;
}
@media (min-width: 768px) {
  .m-x-spacer-xl {
    margin-right: 6ex;
    margin-left: 6ex;
  }
}

.m-y-spacer-xl {
  margin-top: 4.2ex;
  margin-bottom: 4.2ex;
}
@media (min-width: 768px) {
  .m-y-spacer-xl {
    margin-top: 6ex;
    margin-bottom: 6ex;
  }
}

.m-t-spacer-2xl {
  margin-top: 6.3ex;
}
@media (min-width: 768px) {
  .m-t-spacer-2xl {
    margin-top: 9ex;
  }
}

.m-b-spacer-2xl {
  margin-bottom: 6.3ex;
}
@media (min-width: 768px) {
  .m-b-spacer-2xl {
    margin-bottom: 9ex;
  }
}

.m-l-spacer-2xl {
  margin-left: 6.3ex;
}
@media (min-width: 768px) {
  .m-l-spacer-2xl {
    margin-left: 9ex;
  }
}

.m-r-spacer-2xl {
  margin-right: 6.3ex;
}
@media (min-width: 768px) {
  .m-r-spacer-2xl {
    margin-right: 9ex;
  }
}

.m-x-spacer-2xl {
  margin-right: 6.3ex;
  margin-left: 6.3ex;
}
@media (min-width: 768px) {
  .m-x-spacer-2xl {
    margin-right: 9ex;
    margin-left: 9ex;
  }
}

.m-y-spacer-2xl {
  margin-top: 6.3ex;
  margin-bottom: 6.3ex;
}
@media (min-width: 768px) {
  .m-y-spacer-2xl {
    margin-top: 9ex;
    margin-bottom: 9ex;
  }
}

.p-t-spacer-none {
  padding-top: 0;
}
@media (min-width: 768px) {
  .p-t-spacer-none {
    padding-top: 0;
  }
}

.p-b-spacer-none {
  padding-bottom: 0;
}
@media (min-width: 768px) {
  .p-b-spacer-none {
    padding-bottom: 0;
  }
}

.p-l-spacer-none {
  padding-left: 0;
}
@media (min-width: 768px) {
  .p-l-spacer-none {
    padding-left: 0;
  }
}

.p-r-spacer-none {
  padding-right: 0;
}
@media (min-width: 768px) {
  .p-r-spacer-none {
    padding-right: 0;
  }
}

.p-x-spacer-none {
  padding-right: 0;
  padding-left: 0;
}
@media (min-width: 768px) {
  .p-x-spacer-none {
    padding-right: 0;
    padding-left: 0;
  }
}

.p-y-spacer-none {
  padding-top: 0;
  padding-bottom: 0;
}
@media (min-width: 768px) {
  .p-y-spacer-none {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.p-t-spacer-2xs {
  padding-top: 0ex;
}
@media (min-width: 768px) {
  .p-t-spacer-2xs {
    padding-top: 0ex;
  }
}

.p-b-spacer-2xs {
  padding-bottom: 0ex;
}
@media (min-width: 768px) {
  .p-b-spacer-2xs {
    padding-bottom: 0ex;
  }
}

.p-l-spacer-2xs {
  padding-left: 0ex;
}
@media (min-width: 768px) {
  .p-l-spacer-2xs {
    padding-left: 0ex;
  }
}

.p-r-spacer-2xs {
  padding-right: 0ex;
}
@media (min-width: 768px) {
  .p-r-spacer-2xs {
    padding-right: 0ex;
  }
}

.p-x-spacer-2xs {
  padding-right: 0ex;
  padding-left: 0ex;
}
@media (min-width: 768px) {
  .p-x-spacer-2xs {
    padding-right: 0ex;
    padding-left: 0ex;
  }
}

.p-y-spacer-2xs {
  padding-top: 0ex;
  padding-bottom: 0ex;
}
@media (min-width: 768px) {
  .p-y-spacer-2xs {
    padding-top: 0ex;
    padding-bottom: 0ex;
  }
}

.p-t-spacer-xs {
  padding-top: 0.63ex;
}
@media (min-width: 768px) {
  .p-t-spacer-xs {
    padding-top: 0.63ex;
  }
}

.p-b-spacer-xs {
  padding-bottom: 0.63ex;
}
@media (min-width: 768px) {
  .p-b-spacer-xs {
    padding-bottom: 0.63ex;
  }
}

.p-l-spacer-xs {
  padding-left: 0.63ex;
}
@media (min-width: 768px) {
  .p-l-spacer-xs {
    padding-left: 0.63ex;
  }
}

.p-r-spacer-xs {
  padding-right: 0.63ex;
}
@media (min-width: 768px) {
  .p-r-spacer-xs {
    padding-right: 0.63ex;
  }
}

.p-x-spacer-xs {
  padding-right: 0.63ex;
  padding-left: 0.63ex;
}
@media (min-width: 768px) {
  .p-x-spacer-xs {
    padding-right: 0.63ex;
    padding-left: 0.63ex;
  }
}

.p-y-spacer-xs {
  padding-top: 0.63ex;
  padding-bottom: 0.63ex;
}
@media (min-width: 768px) {
  .p-y-spacer-xs {
    padding-top: 0.63ex;
    padding-bottom: 0.63ex;
  }
}

.p-t-spacer-sm {
  padding-top: 0.7ex;
}
@media (min-width: 768px) {
  .p-t-spacer-sm {
    padding-top: 0.7ex;
  }
}

.p-b-spacer-sm {
  padding-bottom: 0.7ex;
}
@media (min-width: 768px) {
  .p-b-spacer-sm {
    padding-bottom: 0.7ex;
  }
}

.p-l-spacer-sm {
  padding-left: 0.7ex;
}
@media (min-width: 768px) {
  .p-l-spacer-sm {
    padding-left: 0.7ex;
  }
}

.p-r-spacer-sm {
  padding-right: 0.7ex;
}
@media (min-width: 768px) {
  .p-r-spacer-sm {
    padding-right: 0.7ex;
  }
}

.p-x-spacer-sm {
  padding-right: 0.7ex;
  padding-left: 0.7ex;
}
@media (min-width: 768px) {
  .p-x-spacer-sm {
    padding-right: 0.7ex;
    padding-left: 0.7ex;
  }
}

.p-y-spacer-sm {
  padding-top: 0.7ex;
  padding-bottom: 0.7ex;
}
@media (min-width: 768px) {
  .p-y-spacer-sm {
    padding-top: 0.7ex;
    padding-bottom: 0.7ex;
  }
}

.p-t-spacer-md {
  padding-top: 1.4ex;
}
@media (min-width: 768px) {
  .p-t-spacer-md {
    padding-top: 1.4ex;
  }
}

.p-b-spacer-md {
  padding-bottom: 1.4ex;
}
@media (min-width: 768px) {
  .p-b-spacer-md {
    padding-bottom: 1.4ex;
  }
}

.p-l-spacer-md {
  padding-left: 1.4ex;
}
@media (min-width: 768px) {
  .p-l-spacer-md {
    padding-left: 1.4ex;
  }
}

.p-r-spacer-md {
  padding-right: 1.4ex;
}
@media (min-width: 768px) {
  .p-r-spacer-md {
    padding-right: 1.4ex;
  }
}

.p-x-spacer-md {
  padding-right: 1.4ex;
  padding-left: 1.4ex;
}
@media (min-width: 768px) {
  .p-x-spacer-md {
    padding-right: 1.4ex;
    padding-left: 1.4ex;
  }
}

.p-y-spacer-md {
  padding-top: 1.4ex;
  padding-bottom: 1.4ex;
}
@media (min-width: 768px) {
  .p-y-spacer-md {
    padding-top: 1.4ex;
    padding-bottom: 1.4ex;
  }
}

.p-t-spacer-lg {
  padding-top: 2.8ex;
}
@media (min-width: 768px) {
  .p-t-spacer-lg {
    padding-top: 2.8ex;
  }
}

.p-b-spacer-lg {
  padding-bottom: 2.8ex;
}
@media (min-width: 768px) {
  .p-b-spacer-lg {
    padding-bottom: 2.8ex;
  }
}

.p-l-spacer-lg {
  padding-left: 2.8ex;
}
@media (min-width: 768px) {
  .p-l-spacer-lg {
    padding-left: 2.8ex;
  }
}

.p-r-spacer-lg {
  padding-right: 2.8ex;
}
@media (min-width: 768px) {
  .p-r-spacer-lg {
    padding-right: 2.8ex;
  }
}

.p-x-spacer-lg {
  padding-right: 2.8ex;
  padding-left: 2.8ex;
}
@media (min-width: 768px) {
  .p-x-spacer-lg {
    padding-right: 2.8ex;
    padding-left: 2.8ex;
  }
}

.p-y-spacer-lg {
  padding-top: 2.8ex;
  padding-bottom: 2.8ex;
}
@media (min-width: 768px) {
  .p-y-spacer-lg {
    padding-top: 2.8ex;
    padding-bottom: 2.8ex;
  }
}

.p-t-spacer-xl {
  padding-top: 4.2ex;
}
@media (min-width: 768px) {
  .p-t-spacer-xl {
    padding-top: 4.2ex;
  }
}

.p-b-spacer-xl {
  padding-bottom: 4.2ex;
}
@media (min-width: 768px) {
  .p-b-spacer-xl {
    padding-bottom: 4.2ex;
  }
}

.p-l-spacer-xl {
  padding-left: 4.2ex;
}
@media (min-width: 768px) {
  .p-l-spacer-xl {
    padding-left: 4.2ex;
  }
}

.p-r-spacer-xl {
  padding-right: 4.2ex;
}
@media (min-width: 768px) {
  .p-r-spacer-xl {
    padding-right: 4.2ex;
  }
}

.p-x-spacer-xl {
  padding-right: 4.2ex;
  padding-left: 4.2ex;
}
@media (min-width: 768px) {
  .p-x-spacer-xl {
    padding-right: 4.2ex;
    padding-left: 4.2ex;
  }
}

.p-y-spacer-xl {
  padding-top: 4.2ex;
  padding-bottom: 4.2ex;
}
@media (min-width: 768px) {
  .p-y-spacer-xl {
    padding-top: 4.2ex;
    padding-bottom: 4.2ex;
  }
}

.p-t-spacer-2xl {
  padding-top: 6.3ex;
}
@media (min-width: 768px) {
  .p-t-spacer-2xl {
    padding-top: 6.3ex;
  }
}

.p-b-spacer-2xl {
  padding-bottom: 6.3ex;
}
@media (min-width: 768px) {
  .p-b-spacer-2xl {
    padding-bottom: 6.3ex;
  }
}

.p-l-spacer-2xl {
  padding-left: 6.3ex;
}
@media (min-width: 768px) {
  .p-l-spacer-2xl {
    padding-left: 6.3ex;
  }
}

.p-r-spacer-2xl {
  padding-right: 6.3ex;
}
@media (min-width: 768px) {
  .p-r-spacer-2xl {
    padding-right: 6.3ex;
  }
}

.p-x-spacer-2xl {
  padding-right: 6.3ex;
  padding-left: 6.3ex;
}
@media (min-width: 768px) {
  .p-x-spacer-2xl {
    padding-right: 6.3ex;
    padding-left: 6.3ex;
  }
}

.p-y-spacer-2xl {
  padding-top: 6.3ex;
  padding-bottom: 6.3ex;
}
@media (min-width: 768px) {
  .p-y-spacer-2xl {
    padding-top: 6.3ex;
    padding-bottom: 6.3ex;
  }
}

/**
 * The palette file maps variables to hex values with two stops
 * each (tint and shade) that provide all the variations necessary
 * for the colors file.
 */
.button {
  display: inline-block;
  white-space: nowrap;
  cursor: pointer;
  outline: none;
  height: 40px;
  line-height: 40px;
  font-size: 15px;
  padding: 0 14px;
  border: none;
  border-radius: 4px;
  letter-spacing: 0.04em;
  font-weight: bold;
  box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.button:hover {
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  box-shadow: 0 10px 18px rgba(50, 50, 93, 0.1), 0 4px 6px rgba(0, 0, 0, 0.08);
}
.button:active {
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
}
.button.primary {
  color: #ffffff;
  text-shadow: 0 1px 3px rgba(64, 32, 221, 0.4);
  background: linear-gradient(60deg, #4020dd 0%, #6246ea 50%, #8670f3 100%);
  background-size: 200% 40px;
  background-position: 0 0;
}
.button.primary:hover {
  background-position: 100% -100%;
}
.button.primary:active {
  color: #f3f3fa;
}
.button.secondary {
  color: #6246ea;
  text-shadow: 0 1px 6px rgba(134, 112, 243, 0.4);
  background-color: #ffffff;
}
.button.secondary:hover {
  color: #8670f3;
}
.button.secondary:active {
  color: #4020dd;
}

/*# sourceMappingURL=janina.css.map */