/*! From github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select,
textarea {
  font-family: inherit;
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}
td:not([align]),
th:not([align]) {
  text-align: left;
}

/**
 * Color palette.
 *
 * The palette file maps variables to hex values with two stops
 * each (tint and shade) that provide all the variations necessary
 * for the colors file.
 */
/** Typography */
/** Spacing */
/** Colors */
/** Typography */
/** Spacing */
/** Borders */
/** Buttons */
/** Controls */
/** Transitions */
/**
 * Color palette.
 *
 * The palette file maps variables to hex values with two stops
 * each (tint and shade) that provide all the variations necessary
 * for the colors file.
 */
/** Typography */
/** Spacing */
/** Colors */
/** Typography */
/** Spacing */
/** Borders */
/** Buttons */
/** Controls */
/** Transitions */
.radio input + *::before, .checkbox input + *::before, .radio input + *::after, .checkbox input + *::after {
  content: "";
  height: 1.3em;
  left: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.2s ease;
  width: 1.3em;
}

.radio, .checkbox {
  line-height: 1.8;
  display: block;
  position: relative;
  cursor: pointer;
  padding-left: 2.05em;
}
.radio > input, .checkbox > input {
  position: absolute;
  opacity: 0;
}
.radio input + *, .checkbox input + * {
  color: #2c2d35;
}
.radio input + *::after, .checkbox input + *::after {
  transform: translateY(-50%) scale(0);
}
.radio input + *::before, .checkbox input + *::before {
  border: 1px solid transparent;
  background-color: #eaeaf6;
}
.radio input:checked + *::after, .checkbox input:checked + *::after {
  transform: translateY(-50%) scale(1);
}
.radio input:checked + *::before, .checkbox input:checked + *::before {
  background-color: white;
  border: 1px solid #7c65f1;
  box-shadow: none;
}
.radio input:focus + *::before, .checkbox input:focus + *::before {
  box-shadow: 0 0 1px 1px #d2d2e9;
}

/**
 * Color palette.
 *
 * The palette file maps variables to hex values with two stops
 * each (tint and shade) that provide all the variations necessary
 * for the colors file.
 */
/** Typography */
/** Spacing */
/** Colors */
/** Typography */
/** Spacing */
/** Borders */
/** Buttons */
/** Controls */
/** Transitions */
.button {
  display: inline-block;
  white-space: nowrap;
  cursor: pointer;
  outline: none;
  border: none;
  height: 2.5em;
  font-size: 1em;
  letter-spacing: 0.03em;
  line-height: 2.5em;
  padding: 0 0.75em;
  border-radius: 0.25em;
  transform: translateY(0);
  transition: all 0.2s ease;
  box-shadow: 0 0.5em 0.75em rgba(210, 210, 233, 0.05), 0 0.3em 0.5em rgba(0, 0, 0, 0.03);
  color: #161618;
  background-color: white;
  font-weight: 400;
  text-shadow: 0 1px 0.5em rgba(44, 45, 53, 0.3);
}
.button:active {
  transform: translateY(1px);
}
.button:hover {
  box-shadow: 0 0.75em 1em rgba(210, 210, 233, 0.08), 0 0.3em 0.5em rgba(0, 0, 0, 0.05);
}
.button:hover {
  color: #3a3c4a;
}
.button:active {
  color: #161618;
}
.button.primary {
  color: white;
  font-weight: 500;
  text-shadow: 0 1px 0.3em rgba(99, 71, 235, 0.4);
  background: linear-gradient(60deg, #4020df 0%, #6347eb 50%, #7c65f1 100%);
  background-size: 200% 2.5em;
  background-position: 0 0;
  box-shadow: 0 0.5em 0.75em rgba(99, 71, 235, 0.05), 0 0.3em 0.5em rgba(0, 0, 0, 0.03);
}
.button.primary:hover {
  background-position: 100% -100%;
}
.button.primary:hover {
  box-shadow: 0 0.75em 1em rgba(99, 71, 235, 0.08), 0 0.3em 0.5em rgba(0, 0, 0, 0.05);
}
.button.primary:active {
  color: #eaeaf6;
  background-position: 0 0;
}

/**
 * Color palette.
 *
 * The palette file maps variables to hex values with two stops
 * each (tint and shade) that provide all the variations necessary
 * for the colors file.
 */
/** Typography */
/** Spacing */
/** Colors */
/** Typography */
/** Spacing */
/** Borders */
/** Buttons */
/** Controls */
/** Transitions */
.tooltip, .card {
  position: relative;
  padding: 2.5em;
  border-radius: 0.25em;
  background-color: white;
  box-shadow: 0 0.3em 1em 0.75em rgba(0, 0, 0, 0.018);
  border: 1px solid #eaeaf6;
}

.checkbox input + *::after {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="64px" height="64px" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve"><g><polygon points="13.707,32.293 12.293,33.854 24.293,46 25.707,46 49.707,21.854 48.293,20.366 25,43.623 "/></g></svg>') no-repeat center/contain;
}
.checkbox input + *::before {
  border-radius: 0.25em;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
}
.icon svg {
  font-size: 1.2em;
  transition: all 0.2s ease;
  stroke-width: 1.2;
}

/**
 * Color palette.
 *
 * The palette file maps variables to hex values with two stops
 * each (tint and shade) that provide all the variations necessary
 * for the colors file.
 */
/** Typography */
/** Spacing */
/** Colors */
/** Typography */
/** Spacing */
/** Borders */
/** Buttons */
/** Controls */
/** Transitions */
.select, .textarea, .input {
  font-size: 1em;
  outline: none;
  transition: border 0.2s ease;
  border-radius: 0.25em;
  color: #2c2d35;
  border: 1px solid #eaeaf6;
}
.select::-moz-placeholder, .textarea::-moz-placeholder, .input::-moz-placeholder {
  color: #b3b3d6;
}
.select:-ms-input-placeholder, .textarea:-ms-input-placeholder, .input:-ms-input-placeholder {
  color: #b3b3d6;
}
.select::placeholder, .textarea::placeholder, .input::placeholder {
  color: #b3b3d6;
}
.select:focus, .textarea:focus, .input:focus {
  border: 1px solid #7c65f1;
}

.input {
  height: 2.5em;
  line-height: 2.5em;
  padding: 0 0.75em;
}

.radio input + *::after {
  background: url('data:image/svg+xml;utf8,<svg width="200" height="200" xmlns="http://www.w3.org/2000/svg"><circle cx="100" cy="100" r="28" fill="black" /></svg>') no-repeat center/contain;
}
.radio input + *::before {
  border-radius: 50%;
}

.has-tooltip-left .tooltip::after, .has-tooltip-right .tooltip::after, .has-tooltip-top .tooltip::after, .tooltip::after, .has-tooltip-bottom .tooltip::after, .has-tooltip-left .tooltip::before, .has-tooltip-right .tooltip::before, .has-tooltip-top .tooltip::before, .tooltip::before, .has-tooltip-bottom .tooltip::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
}
.has-tooltip-left .tooltip::after, .has-tooltip-right .tooltip::after, .has-tooltip-top .tooltip::after, .tooltip::after, .has-tooltip-bottom .tooltip::after {
  border: 8px solid transparent;
}
.has-tooltip-left .tooltip::before, .has-tooltip-right .tooltip::before, .has-tooltip-top .tooltip::before, .tooltip::before, .has-tooltip-bottom .tooltip::before {
  border: 9px solid transparent;
}

.has-tooltip-bottom .tooltip::after {
  left: 50%;
  top: 0;
  transform: translate(-50%, -100%);
  border-bottom: 8px solid white;
}
.has-tooltip-bottom .tooltip::before {
  top: 0;
  left: 50%;
  transform: translate(-50%, -100%);
  border-bottom: 9px solid #eaeaf6;
}

.has-tooltip-top .tooltip::after, .tooltip::after {
  top: 100%;
  left: 50%;
  transform: translate(-50%);
  border-top: 8px solid white;
}
.has-tooltip-top .tooltip::before, .tooltip::before {
  top: 100%;
  left: 50%;
  transform: translate(-50%);
  border-top: 9px solid #eaeaf6;
}

.has-tooltip-right .tooltip::after {
  top: 50%;
  left: 0;
  transform: translate(-100%, -50%);
  border-right: 8px solid white;
}
.has-tooltip-right .tooltip::before {
  top: 50%;
  left: 0;
  transform: translate(-100%, -50%);
  border-right: 9px solid #eaeaf6;
}

.has-tooltip-left .tooltip::after {
  top: 50%;
  left: 100%;
  transform: translate(0, -50%);
  border-left: 8px solid white;
}
.has-tooltip-left .tooltip::before {
  top: 50%;
  left: 100%;
  transform: translate(0, -50%);
  border-left: 9px solid #eaeaf6;
}

.has-tooltip-left .tooltip, .has-tooltip-right .tooltip, .has-tooltip-bottom .tooltip, .has-tooltip-top .tooltip {
  opacity: 0;
  pointer-events: none;
}
.has-tooltip-left:hover .tooltip, .has-tooltip-right:hover .tooltip, .has-tooltip-bottom:hover .tooltip, .has-tooltip-top:hover .tooltip {
  opacity: 1;
}
.has-tooltip-left:hover .tooltip.sticky, .has-tooltip-right:hover .tooltip.sticky, .has-tooltip-bottom:hover .tooltip.sticky, .has-tooltip-top:hover .tooltip.sticky {
  pointer-events: auto;
}

.tooltip {
  width: 24em;
  padding: 1em;
  position: absolute;
  z-index: 1;
}

.tooltip {
  transition: all 0.2s ease;
}

/* stylelint-disable no-descending-specificity */
.has-tooltip-top {
  position: relative;
}
.has-tooltip-top .tooltip {
  left: 50%;
  top: 0;
  transform: translate(-50%, calc(-100% - 1rem));
}
.has-tooltip-top:hover .tooltip {
  transform: translate(-50%, calc(-100% - 1rem));
}

.has-tooltip-bottom {
  position: relative;
}
.has-tooltip-bottom .tooltip {
  left: 50%;
  top: 100%;
  transform: translate(-50%, 1rem);
}
.has-tooltip-bottom:hover .tooltip {
  transform: translate(-50%, 1rem);
}

.has-tooltip-right {
  position: relative;
}
.has-tooltip-right .tooltip {
  left: 100%;
  top: 50%;
  transform: translate(1rem, -50%);
}
.has-tooltip-right:hover .tooltip {
  transform: translate(1rem, -50%);
}

.has-tooltip-left {
  position: relative;
}
.has-tooltip-left .tooltip {
  left: 0;
  top: 50%;
  transform: translate(calc(-100% - 1rem), -50%);
}
.has-tooltip-left:hover .tooltip {
  transform: translate(calc(-100% - 1rem), -50%);
}

/* stylelint-enable no-descending-specificity */
/**
 * Color palette.
 *
 * The palette file maps variables to hex values with two stops
 * each (tint and shade) that provide all the variations necessary
 * for the colors file.
 */
/** Typography */
/** Spacing */
/** Colors */
/** Typography */
/** Spacing */
/** Borders */
/** Buttons */
/** Controls */
/** Transitions */
.textarea {
  padding: 0.75em;
}

/**
 * Color palette.
 *
 * The palette file maps variables to hex values with two stops
 * each (tint and shade) that provide all the variations necessary
 * for the colors file.
 */
/** Typography */
/** Spacing */
/** Colors */
/** Typography */
/** Spacing */
/** Borders */
/** Buttons */
/** Controls */
/** Transitions */
.field {
  display: flex;
  flex-direction: column;
  font-size: 1em;
}
.field .label {
  font-size: 0.8em;
  color: #3a3c4a;
  padding-left: 0.3em;
  padding-bottom: 0.3em;
  transition: all 0.2s ease;
}
.field .group {
  padding-top: 0.3em;
}
.field.horizontal {
  align-items: baseline;
  flex-direction: row;
}
.field.horizontal .label {
  font-size: 1em;
  flex: 1 1 32%;
  padding: 0 0.75em 0 0;
  color: #3a3c4a;
}
.field.horizontal .input,
.field.horizontal .textarea,
.field.horizontal .select,
.field.horizontal .group {
  flex: 1 1 68%;
}
.field.horizontal .group {
  padding-top: 0;
}
.field:focus-within .label {
  color: #7c65f1;
}

/**
 * Color palette.
 *
 * The palette file maps variables to hex values with two stops
 * each (tint and shade) that provide all the variations necessary
 * for the colors file.
 */
/** Typography */
/** Spacing */
/** Colors */
/** Typography */
/** Spacing */
/** Borders */
/** Buttons */
/** Controls */
/** Transitions */
.select {
  height: 2.5em;
  line-height: 2.5em;
  padding: 0 0.75em;
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="rgb(179, 179, 214)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="6 9 12 15 18 9"/></svg>') no-repeat right 0.5em center/1.3em;
}

/**
 * Color palette.
 *
 * The palette file maps variables to hex values with two stops
 * each (tint and shade) that provide all the variations necessary
 * for the colors file.
 */
/** Typography */
/** Spacing */
/** Colors */
/** Typography */
/** Spacing */
/** Borders */
/** Buttons */
/** Controls */
/** Transitions */
.form .field,
.form .checkbox,
.form .radio {
  margin-top: 1.5em;
}
.form .field:first-child,
.form .checkbox:first-child,
.form .radio:first-child {
  margin-top: 0;
}
.form .checkbox + .checkbox,
.form .radio + .radio {
  margin-top: 0;
}

/**
 * Color palette.
 *
 * The palette file maps variables to hex values with two stops
 * each (tint and shade) that provide all the variations necessary
 * for the colors file.
 */
/** Typography */
/** Spacing */
/** Colors */
/** Typography */
/** Spacing */
/** Borders */
/** Buttons */
/** Controls */
/** Transitions */
.has-text-light {
  color: #d2d2e9;
}

.has-icon-light {
  color: #d2d2e9;
}

.has-background-light {
  background-color: #d2d2e9;
}

.has-text-dark {
  color: #2c2d35;
}

.has-icon-dark {
  color: #2c2d35;
}

.has-background-dark {
  background-color: #2c2d35;
}

.has-text-white {
  color: white;
}

.has-icon-white {
  color: white;
}

.has-background-white {
  background-color: white;
}

.has-text-black {
  color: black;
}

.has-icon-black {
  color: black;
}

.has-background-black {
  background-color: black;
}

.has-text-primary {
  color: #6347eb;
}

.has-icon-primary {
  color: #6347eb;
}

.has-background-primary {
  background-color: #6347eb;
}

.has-text-primary-tint {
  color: #7c65f1;
}

.has-icon-primary-tint {
  color: #7c65f1;
}

.has-background-primary-tint {
  background-color: #7c65f1;
}

.has-text-primary-shade {
  color: #4020df;
}

.has-icon-primary-shade {
  color: #4020df;
}

.has-background-primary-shade {
  background-color: #4020df;
}

.has-text-info {
  color: #3298dc;
}

.has-icon-info {
  color: #3298dc;
}

.has-background-info {
  background-color: #3298dc;
}

.has-text-info-tint {
  color: #4ea8e4;
}

.has-icon-info-tint {
  color: #4ea8e4;
}

.has-background-info-tint {
  background-color: #4ea8e4;
}

.has-text-info-shade {
  color: #257cb6;
}

.has-icon-info-shade {
  color: #257cb6;
}

.has-background-info-shade {
  background-color: #257cb6;
}

.has-text-success {
  color: #00ebc7;
}

.has-icon-success {
  color: #00ebc7;
}

.has-background-success {
  background-color: #00ebc7;
}

.has-text-success-tint {
  color: #0fffdb;
}

.has-icon-success-tint {
  color: #0fffdb;
}

.has-background-success-tint {
  background-color: #0fffdb;
}

.has-text-success-shade {
  color: #05b399;
}

.has-icon-success-shade {
  color: #05b399;
}

.has-background-success-shade {
  background-color: #05b399;
}

.has-text-warning {
  color: #ff8e3d;
}

.has-icon-warning {
  color: #ff8e3d;
}

.has-background-warning {
  background-color: #ff8e3d;
}

.has-text-warning-tint {
  color: #ffa361;
}

.has-icon-warning-tint {
  color: #ffa361;
}

.has-background-warning-tint {
  background-color: #ffa361;
}

.has-text-warning-shade {
  color: #f97110;
}

.has-icon-warning-shade {
  color: #f97110;
}

.has-background-warning-shade {
  background-color: #f97110;
}

.has-text-danger {
  color: #ff526f;
}

.has-icon-danger {
  color: #ff526f;
}

.has-background-danger {
  background-color: #ff526f;
}

.has-text-danger-tint {
  color: #ff758c;
}

.has-icon-danger-tint {
  color: #ff758c;
}

.has-background-danger-tint {
  background-color: #ff758c;
}

.has-text-danger-shade {
  color: #f92448;
}

.has-icon-danger-shade {
  color: #f92448;
}

.has-background-danger-shade {
  background-color: #f92448;
}

/*# sourceMappingURL=janina.css.map */