@import 'colors';

// Semantic
$success: $green;
$info: $blue;
$warning: $yellow;
$danger: $red;

// Type
$type--dark: $dark--shade;
$type--light: $dark--tint;
$type--white: $white;
$type--accent: $blue;
$type--link: $blue;
$type--link-hover: $blue--tint;
$type--success: $green;
$type--info: $blue;
$type--warning: $yellow;
$type--danger: $red;

// Buttons
$button-primary-background: $red;
$button-primary-color: $white;

$button-secondary-background: $white;
$button-secondary-border: $light--tint;
$button-secondary-color: $dark;

// Icons
$icon--dark: $dark;
$icon--white: $white;
$icon--accent: $red;
$icon--success: $success;
$icon--info: $info;
$icon--warning: $warning;
$icon--danger: $danger;
