// Layout
$dark: #0f1d2b;
$dark-85: #3f4f5f;
$dark-75: #5b6b7c;
$dark-50: #91a3b0;
$light-110: #b6c7d4;
$light: #e2eaf0;
$light-90: #eff4f8;
$white: #fff;

// Core
$yellow: #ffe869;
$yellow--light: #fff7d0;
$yellow--light-1: #fef3b5;
$yellow--light-2: #fdeb8f;
$yellow--light-3: #fce36c;
$yellow--dark: #f9df49;
$yellow--dark-1: #f1d643;

$red: #fe4a49;
$red--light: #ffaead;
$red--light-1: #fe918f;
$red--light-2: #fc7270;
$red--light-3: #f75b5a;
$red--dark: #ee3635;
$red--dark-1: #e42b2a;

$blue: #519cb0;
$blue--light: #ddf9ff;
$blue--light-1: #b0e0ec;
$blue--light-2: #99d3e1;
$blue--light-3: #82c0d0;
$blue--dark: #3a889d;
$blue--dark-1: #27768b;

$green: #5cccb1;
$green--light: #c9f6eb;
$green--light-1: #ade7d9;
$green--light-2: #98dfce;
$green--light-3: #79d7c0;
$green--dark: #41b99c;
$green--dark-1: #26a486;
