@use 'sass:color';

$saturation--tint: 5%;
$saturation--shade: -5%;
$lightness--tint: 15%;
$lightness--shade: -15%;

@function tint($color) {
  @return color.adjust($color, $lightness: $lightness--tint, $saturation: $saturation--tint);
}

@function shade($color) {
  @return color.adjust($color, $lightness: $lightness--shade, $saturation: $saturation--shade);
}

$white: #ffffff;

$dark: #2b2c34;
$dark--tint: tint($dark);
$dark--shade: shade($dark);

$light: #d1d1e9;
$light--tint: tint($light);
$light--shade: shade($light);

$yellow: #fde24f;
$yellow--tint: tint($yellow);
$yellow--shade: shade($yellow);

$red: #ff5470;
$red--tint: tint($red);
$red--shade: shade($red);

$blue: #6246ea;
$blue--tint: tint($blue);
$blue--shade: shade($blue);

$green: #00ebc7;
$green--tint: tint($green);
$green--shade: shade($green);
