/**
* The colors file contains variables that define how hues from the palette are
* used across the app or website. They should be what users of janina override
* to theme the library.
*/

@import 'palette';

$success: $green !default;
$info: $blue !default;
$warning: $orange !default;
$danger: $red !default;

$text-dark: $dark !default;
$text-light: $dark-tint !default;
$text-white: $white !default;
$text-accent: $blue !default;
$text-link: $blue !default;
$text-success: $green !default;
$text-info: $blue !default;
$text-warning: $orange !default;
$text-danger: $red !default;

$icon-dark: $dark !default;
$icon-white: $white !default;
$icon-accent: $red !default;
$icon-success: $success !default;
$icon-info: $info !default;
$icon-warning: $warning !default;
$icon-danger: $danger !default;

$text-colors: (
  'dark': $text-dark,
  'light': $text-light,
  'white': $text-white,
  'accent': $text-accent,
  'link': $text-link,
  'success': $text-success,
  'info': $text-info,
  'warning': $text-warning,
  'danger': $text-danger,
) !default;

@each $name, $color in $text-colors {
  .has-text-#{$name} {
    color: $color;
  }
}

$icon-colors: (
  'dark': $icon-dark,
  'white': $icon-white,
  'accent': $icon-accent,
  'success': $icon-success,
  'info': $icon-info,
  'warning': $icon-warning,
  'danger': $icon-danger,
) !default;

@each $name, $color in $icon-colors {
  .has-icon-#{$name} {
    fill: $color;
  }
}

$background-colors: (
  'white': $white,
  'dark': $dark,
  'dark-tint': $dark-tint,
  'dark-shade': $dark-shade,
  'light': $light,
  'light-tint': $light-tint,
  'light-shade': $light-shade,
  'orange': $orange,
  'orange-tint': $orange-tint,
  'orange-shade': $orange-shade,
  'red': $red,
  'red-tint': $red-tint,
  'red-shade': $red-shade,
  'blue': $blue,
  'blue-tint': $blue-tint,
  'blue-shade': $blue-shade,
  'green': $green,
  'green-tint': $green-tint,
  'green-shade': $green-shade,
) !default;

@each $name, $color in $background-colors {
  .has-background-#{$name} {
    background-color: $color;
  }
}
