@use 'sass:color';

/**
 * Color palette.
 *
 * The palette file maps variables to hex values with two stops
 * each (tint and shade) that provide all the variations necessary
 * for the colors file.
 */

$saturation-tint: 3% !default;
$saturation-shade: -5% !default;
$lightness-tint: 7% !default;
$lightness-shade: -10% !default;

@function tint($color) {
  @return color.adjust($color, $lightness: $lightness-tint, $saturation: $saturation-tint);
}

@function shade($color) {
  @return color.adjust($color, $lightness: $lightness-shade, $saturation: $saturation-shade);
}

$black: hsl(0, 0, 0) !default;
$white: hsl(0, 0, 100) !default;

$dark: hsl(233, 9, 19) !default;
$dark-tint: tint($dark) !default;
$dark-shade: shade($dark) !default;

$light: hsl(240, 35, 87) !default;
$light-tint: tint($light) !default;
$light-shade: shade($light) !default;

$orange: hsl(21, 89, 56) !default;
$orange-tint: tint($orange) !default;
$orange-shade: shade($orange) !default;

$red: hsl(349, 100, 35) !default;
$red-tint: tint($red) !default;
$red-shade: shade($red) !default;

$blue: hsl(250, 80, 60) !default;
$blue-tint: tint($blue) !default;
$blue-shade: shade($blue) !default;

$green: hsl(152, 41, 52) !default;
$green-tint: tint($green) !default;
$green-shade: shade($green) !default;

$purple: hsl(256, 41, 47) !default;
$purple-tint: tint($purple) !default;
$purple-shade: shade($purple) !default;

$cyan: hsl(197, 93, 29) !default;
$cyan-tint: tint($cyan) !default;
$cyan-shade: shade($cyan) !default;

/** Typography */

$size-1: 3em;
$size-2: 2.5em;
$size-3: 2em;
$size-4: 1.5em;
$size-5: 1.25em;
$size-6: 1em;
$size-7: 0.8em;

$weight-medium: 400;
$weight-semibold: 500;
$weight-bold: 600;

/** Spacing */

$space-0: 0;
$space-1: 0.3em;
$space-2: 0.5em;
$space-3: 0.75em;
$space-4: 1em;
$space-5: 1.5em;
$space-6: 2.5em;
$space-7: 3em;
