@import '../base/variables/all';

$checkable-common-pseudo-translate: translateY(-50%);
$checkable-size: 1.3em;

%checkable-common-pseudo {
  content: '';
  height: $checkable-size;
  left: 0;
  position: absolute;
  top: 50%;
  transform: $checkable-common-pseudo-translate;
  transition: all $transition-speed ease;
  width: $checkable-size;
}

%checkable {
  line-height: 1.8;
  display: block;
  position: relative;
  cursor: pointer;
  padding-left: $checkable-size + $space-medium;

  > input {
    position: absolute;
    opacity: 0;
  }

  input + * {
    color: $dark;

    &::after {
      @extend %checkable-common-pseudo;

      transform: $checkable-common-pseudo-translate scale(0);
    }

    &::before {
      @extend %checkable-common-pseudo;

      border: 1px solid transparent;
      background-color: $light-tint;
    }
  }

  input:checked + * {
    &::after {
      transform: $checkable-common-pseudo-translate scale(1);
    }

    &::before {
      background-color: $white;
      border: 1px solid $primary-tint;
      box-shadow: none;
    }
  }

  input:focus + * {
    &::before {
      box-shadow: 0 0 1px 1px $light;
    }
  }
}
