@use '../base/variables/all';

.button {
  // Currently can't control font size or paddings.
  $size: $control-size-medium;

  @mixin button-dark-background($color, $color-tint, $color-shade) {
    color: $white;
    font-weight: $button-dark-background-font-weight;

    @include text-shadow-dark-background($color);
    @include background-dark($color, $color-tint, $color-shade);
    @include box-shadow($color);

    &:active {
      color: $light-tint;
      background-position: 0 0;
    }
  }

  @mixin button-light-background($color, $color-tint, $color-shade) {
    color: $color-shade;
    background-color: $white;
    font-weight: $button-light-background-font-weight;

    @include text-shadow-light-background($color);

    &:hover {
      color: $color-tint;
    }

    &:active {
      color: $color-shade;
    }
  }

  @mixin box-shadow($color) {
    box-shadow: 0 $space-small $space-medium rgba($color, 0.05),
      0 $space-tiny $space-small rgba(0, 0, 0, 0.03);

    &:hover {
      box-shadow: 0 $space-medium $space-body rgba($color, 0.08),
        0 $space-tiny $space-small rgba(0, 0, 0, 0.05);
    }
  }

  @mixin background-dark($color, $color-tint, $color-shade) {
    background: linear-gradient(60deg, $color-shade 0%, $color 50%, $color-tint 100%);
    background-size: 200% $size;
    background-position: 0 0;

    &:hover {
      background-position: 100% -100%;
    }
  }

  @mixin text-shadow-dark-background($color) {
    text-shadow: 0 1px $space-tiny rgba($color, 0.4);
  }

  @mixin text-shadow-light-background($color) {
    text-shadow: 0 1px $space-small rgba($color, 0.3);
  }

  display: inline-block;
  white-space: nowrap;
  cursor: pointer;
  outline: none;
  border: none;
  height: $size;
  font-size: $font-size-base;
  letter-spacing: 0.03em;
  line-height: $size;
  padding: 0 $space-medium;
  border-radius: $border-radius-medium;
  transform: translateY(0);
  transition: all $transition-speed ease;

  &:active {
    transform: translateY(1px);
  }

  @include box-shadow($light);

  // The default button
  @include button-light-background($dark, $dark-tint, $dark-shade);

  &.primary {
    @include button-dark-background($primary, $primary-tint, $primary-shade);
  }
}
