@use '../base/palette';

$primary: $blue;
$primary-tint: $blue-tint;
$primary-shade: $blue-shade;

.button {
  display: inline-block;

  white-space: nowrap;
  cursor: pointer;
  outline: none;

  height: 40px;
  line-height: 40px;
  font-size: 15px;
  padding: 0 14px;
  border: none;

  border-radius: 4px;
  letter-spacing: 0.04em;
  font-weight: bold;

  box-shadow: 0 7px 14px rgba(50, 50, 93, 0.05), 0 3px 6px rgba(0, 0, 0, 0.03);

  transform: translateY(0);
  transition: all 0.2s ease;

  &:hover {
    transform: translateY(-1px);
    box-shadow: 0 10px 18px rgba(50, 50, 93, 0.08), 0 4px 6px rgba(0, 0, 0, 0.05);
  }

  &:active {
    transform: translateY(1px);
  }

  &.primary {
    color: $white;
    text-shadow: 0 1px 3px rgba($primary-shade, 0.4);

    background: linear-gradient(60deg, $primary-shade 0%, $primary 50%, $primary-tint 100%);
    background-size: 200% 40px;
    background-position: 0 0;

    &:hover {
      background-position: 100% -100%;
    }

    &:active {
      color: $light-tint;
      background-position: 0 0;
    }
  }

  &.secondary {
    color: $primary;
    text-shadow: 0 1px 6px rgba($primary-tint, 0.4);
    background-color: $white;

    &:hover {
      color: $primary-tint;
    }

    &:active {
      color: $primary-shade;
    }
  }
}
