@import '../base/variables/all';

%card {
  $box-shadow: 0 $space-tiny $space-body $space-medium rgba(0, 0, 0, 0.018);

  position: relative;
  padding: $space-larger;
  border-radius: $border-radius-medium;
  background-color: $white;
  box-shadow: $box-shadow;
  border: 1px solid $light-tint;
}

.card {
  @extend %card;
}
