@use '../base/type-variables';
@use '../base/palette';

.content {
  @include size-base-1;
  color: $text-dark;

  h1 {
    @include heading-xlarge;
    @include m-y-spacer-($spacer-sm);
  }

  h2 {
    @include heading-large;
    @include m-y-spacer-($spacer-sm);
  }

  h3 {
    @include heading-semibold;
    @include m-y-spacer-($spacer-sm);
  }

  h4 {
    @include heading-small;
    @include m-y-spacer-($spacer-sm);
  }

  h5 {
    @include heading-xsmall;
    @include m-y-spacer-($spacer-sm);
  }

  h6 {
    @include heading-xxsmall;
    @include m-y-spacer-($spacer-sm);
  }

  ul {
    @include m-y-spacer-($spacer-md);
    @include p-l-spacer-($spacer-md);
    @include type-list;
    list-style: disc;
  }

  p {
    @include body;
    @include m-y-spacer-($spacer-md);
  }

  pre,
  code {
    font-size: 100%;
    line-height: 100%;
    font-family: monospace;
  }

  blockquote {
    @include p-x-spacer-($spacer-md);
  }

  time {
    font-size: inherit;
    line-height: inherit;
  }

  a {
    color: $text-link;

    &:visited {
      // TODO: Find a color for visited links
      color: $text-link;
    }

    &:focus {
      color: $red;
    }
  }

  b,
  strong {
    @include font-primary-semibold;
  }

  hr {
    @include m-y-spacer-($spacer-lg);
    background-color: $light;
    border: none;
    height: 1px;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
  }

  > *:first-child,
  > *:first-child > *:first-child {
    margin-top: 0;
  }
}

.compact {
  @include size-base-0;
}
