@import '../base/variables/all';

.field {
  display: flex;
  flex-direction: column;
  font-size: $font-size-base;

  .label {
    font-size: $font-size-small;
    color: $dark-tint;
    padding-left: $space-tiny;
    padding-bottom: $space-tiny;
    transition: all $transition-speed ease;
  }

  .group {
    padding-top: $space-tiny;
  }

  &.horizontal {
    align-items: baseline;
    flex-direction: row;

    .label {
      font-size: $font-size-base;
      flex: 1 1 32%;
      padding: 0 $space-medium 0 0;
      color: $dark-tint;
    }

    .input,
    .textarea,
    .select,
    .group {
      flex: 1 1 68%;
    }

    .group {
      padding-top: 0;
    }
  }

  &:focus-within {
    .label {
      color: $primary-tint;
    }
  }
}
