@use '../base/variables/all';

.input {
  height: $control-size-medium;
  line-height: $control-size-medium;
  font-size: $font-size-base;
  outline: none;
  transition: all $transition-speed ease;
  padding: 0 $space-medium;
  border-radius: $border-radius-medium;
  color: $dark;
  border: 1px solid $light-tint;

  &::placeholder {
    color: $light-shade;
  }

  &:focus {
    border: 1px solid $primary-tint;
    background-color: $white;
  }
}
