@use '../base/variables/all';

%base-input {
  font-size: $font-size-base;
  outline: none;
  transition: border $transition-speed ease;
  border-radius: $border-radius-medium;
  color: $dark;
  border: 1px solid $light-tint;

  &::placeholder {
    color: $light-shade;
  }

  &:focus {
    border: 1px solid $primary-tint;
  }
}

.input {
  @extend %base-input;
  height: $control-size-medium;
  line-height: $control-size-medium;
  padding: 0 $space-medium;
}
