@use '../base/variables/all';

.field {
  display: flex;
  flex-direction: column;

  span {
    color: $dark-tint;
    padding-left: 4px;
    padding-bottom: 4px;
    transition: all 0.2s ease;
  }

  &.horizontal {
    align-items: baseline;
    flex-direction: row;

    span {
      flex: 1 1 32%;
      padding: 0 10px 0 0;
      color: $dark-tint;
    }

    input {
      flex: 1 1 68%;
    }
  }

  &:focus-within {
    span {
      color: $primary-tint;
    }
  }
}

.input {
  height: 40px;
  line-height: 40px;
  outline: none;
  transition: all 0.2s ease;
  padding: 0 10px;
  border-radius: 4px;
  color: $dark;
  border: 1px solid $light-tint;

  &::placeholder {
    color: $light-shade;
  }

  &:focus {
    border: 1px solid $primary-tint;
    background-color: $white;
  }
}
